<mat-sidenav-container class="example-container" color="primary">
    <mat-sidenav mode="side" opened>
        <ul>
            <li><a mat-button routerLink="" color="primary">Inicio</a></li>
            <li><a mat-button routerLink="alumnos/lista" color="primary">Alumnos</a></li>
            <li><a mat-button routerLink="cursos/lista" color="primary">Cursos</a></li>
            <li><a mat-button routerLink="clases/lista" color="primary">Clases</a></li>
        </ul>
    </mat-sidenav>
  </mat-sidenav-container>